<form method=post action='/articles/<%=@article.id%>'>
<input id='hidden' type='hidden' name='_method' value='patch'>
<label>Title:<input type='text' name='article[title]' value='<%=@article.title%>'>
<label>Content:<input type='text' name='article[content]' value='<%=@article.content%>'>
<input type='submit'>


</form>